{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="menu container">
        <a href="#" class="logo">LOGO</a>
        <input type="checkbox" id="menu" />
        <label for="menu">
          <img src="" alt="menu" class="menu-icon" >
        </label>
        <nav class="navbar">
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicio</a></li>
            <li><a href="#">Producto</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </div>
      <div class="header-content container">
        <h1> Andres housess2</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloribus quas quod expedita nobis, nostrum, officia totam magni numquam, voluptas fuga assumenda rerum impedit placeat. Veritatis cum a adipisci non?
        </p>
          <a href="#" class="btn-1">Informacion</a>
      </div>
    </header>

    <section class="">


    </section>
    {% block content %} {% endblock content %}
    <h2>My Site</h2>
    <p>This is my blog</p>
  </body>
</html>
